[Unit]
Description=MediaVault Application
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
WorkingDirectory=/var/www/media_vault
EnvironmentFile=/var/www/media_vault/.env.local

ExecStart=/bin/bash -c "source /var/www/media_vault/.venv/bin/activate && gunicorn --bind 127.0.0.1:5050 --workers 1 --timeout 120 app:app"
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
